build.xml~
.DS_Store
.classpath
.settings
.project
.externalToolBuilders
.metadata
.idea
*.class
build.properties
context.xml
CVS
dist
build
*.idea
bin
*.log
out
*.war
target
*.eml
*.iml
.gradle
logs
.vscode
*clientsecrets.json
*oauth2service.json
configuration2.properties
workspace.xml
rebel.xml
doitall.jar
